::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 2px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ff8c00;
    border-radius: 2px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #e67e00;
  }
  
  html {
    scrollbar-width: thin;
    scrollbar-color: #ff8c00 #f1f1f1;
  }
  
  body, .custom-scrollable-div {
    scrollbar-width: thin;
    scrollbar-color: #ff8c00 #f1f1f1;
  }